<div
  [class.has-success]="hasSuccess()"
  [class.has-error]="hasError()"
  class="form-group has-feedback"
>
  <label class="control-label sr-only" for="inputSuccess">
    <i class="fa fa-check"></i>{{ label }}
  </label>

  <ng-content></ng-content>

  <span
    *ngIf="showTip && input.valid && (input.dirty || input.touched)"
    class="help-block"
  >
    <i class="fa fa-check"></i> Ok
  </span>

  <span
    *ngIf="showTip && !input.valid && (input.dirty || input.touched)"
    class="help-block"
  >
    <i class="fa fa-remove"></i> {{ errorMessage }}
  </span>
</div>
